.chrnq-btn {
  color: inherit;
  font: inherit;
  margin: 0;
}

button.chrnq-btn {
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled].chrnq-btn {
  cursor: not-allowed;
}

button.chrnq-input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

